<nav>  
    <div>
        <% if user_signed_in? %>    
            Welcome <%= current_user.name %>      
            <%= link_to("view food", user_foods_path(current_user.id))%>
            <%= link_to("Add food", new_user_food_path(current_user.id))%>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete %>         
        <% else %>         
            <%= link_to 'Register', new_user_registration_path %>
            <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
     
    </div>
  </div>
</nav>