<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <ul>
      <% recipe.errors.each do |error| %>
        <li class="alert alert-danger" role="alert"><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter name" %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :preparation_time %>
    <%= form.text_field :preparation_time, class: "form-control", placeholder: "Enter preparation time" %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :cooking_time %>
    <%= form.text_field :cooking_time, class: "form-control", placeholder: "Enter cooking time" %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", placeholder: "Enter description", rows:"5" %>
  </div>
  <br>
  <div class="form-check">
    <%= form.check_box :public ,class: "form-check-input"%>
    <%= form.label :public, class:"form-check-label" %>
  </div>
  <br>
  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
