<h1 class="d-flex justify-content-center">Public recipes</h1>
<div>
  <% @public_recipes.each do |recipe| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-center"><%= recipe.name.capitalize %> recipe</h5>
        <div class="d-flex justify-content-between m-2">
          <div>
            <p class="card-text">Total food Items: <%= RecipeFood.where(recipe_id: recipe.id).count %></p>
            <p class="card-text">Total price: <%= RecipeFood.where(recipe_id: recipe.id).reduce(0) { |sum, f| sum + (f.quantity*Food.find(f.food_id).price).to_f } %></p>
            <p class="card-text"><span class="fst-italic">Made by: </span><small class="text-muted"><%= User.find_by(id: recipe.user_id).name %></small></p>
          </div>
          <div class="form-check form-switch">
            <% if can? :manage, recipe %>
              <%= button_to "Destroy", recipe, method: :delete, class: "btn btn-outline-danger btn-sm small-btn"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
