<% @foods.each do |food| %>
  <tr>
    <% quantity = RecipeFood.joins(:food).where(food_id: food.id).sum('quantity') %>
    <td><%= food.name %></td>
    <td><%= quantity %> <%= food.measurement_unit %> </td>
    <td>$ <%= food.price * quantity %></td>
    <%# <%= debug %>
    <td class="d-flex gap-2">
      <button class="btn btn-primary btn-sm" disabled>
        Edit
      </button>
      <button class="btn btn-danger btn-sm" disabled>
        Destroy
      </button>
    </td>
  </tr>
<% end %>
