<!DOCTYPE html>
<html>
  <head>
    <title>Project title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
     <%= render 'devise/shared/navbar' %>

    <div>
      <% flash.each do |name, msg| -%>
        <p><%= msg %></p>
      <% end -%>    
    </div>
    
    <%= yield %>
  </body>
</html>
